<%- include('partials/header.ejs') %>
    <br>
    <br>
    <img src="images/malav.jpeg" alt="Malav Shah" id="prof">
    <p class="abtme">
        I’m Malav Shah , a passionate data scientist and entrepreneur. I'm committed to drawing conclusions from data and turning those conclusions into commercial success. My areas of expertise include data analysis, machine learning, and statistical modelling, and I have a history of accelerating corporate growth. My ability to effortlessly combine data science with business strategy, resulting in data-driven solutions that provide noticeable outcomes, is what makes me unique.My goal is to use data to remake industry sectors and create profitable businesses in the data-centric world.
        I have successfully bridged the gap between data science and business strategy through partnerships with forward-thinking organisations and executives. I'm constantly looking to connect with like-minded professionals for meaningful talks, business possibilities, or data-driven initiatives. Outside of work, I find inspiration in cricket, table tennis, and video games, as well as keeping a balanced outlook on life and work.
    </p>

    <br>
    <a href="mshah.pdf" target="_blank" class="pdf-button">Malav Shah - Curriculum Vitae</a>
<%- include('partials/footer.ejs') %>