<%- include('partials/header.ejs') %>
    <br>
    <br>
    
    <h1 class="welcome">Welcome to Malav Shah's Portfolio Website</h1>
    <br>
    <br>
    <h1>Mission Statement</h1>
    <br>
    <br>
    <fieldset id="stmt">
        <center><p class="mission">
            "At Malav's Portfolio, our mission is to provide smart, efficient, and automated software engineering solutions to both businesses and consumers. We are dedicated to product development and innovation, ensuring customer satisfaction, and driving profitability and growth in the industry."
        </p></center>
    </fieldset>
    <br>
    <section id="about">
        <a href="/about" class="button">Know more about Malav Shah</a>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<%- include('partials/footer.ejs') %>