<%- include('partials/header.ejs') %>
<section id="projects">
    <h2>Projects</h2>
    <div class="project">
        <img src="images/calculator.png" alt="calculator" class="projimg">
        <h3>GUI Calculator</h3>
        <p>A Calculator app which seamlesly switch to scientific with one button using C#.</p>
    </div>
    <div class="project">
        <h3>Online Food Ordering Platform (ONGOING)</h3>
        <p>A web and app based food ordering application.</p>
    </div>
    <div class="project">
        <h3>Market Segmentation Analysis (ONGOING)</h3>
        <p>Conducted market segmentation analysis to identify target audiences and improve marketing campaigns.</p>
    </div>
</section>
<%- include('partials/footer.ejs') %>