<%- include('partials/header.ejs') %>
<section id="services">  
  <h2>Services</h2>
  <ul>
      <li>
          <h3>Data Analysis</h3>
          <p>Utilize advanced data analysis techniques to extract valuable insights from complex datasets.</p>
      </li>
      <li>
          <h3>Machine Learning</h3>
          <p>Develop custom machine learning models and algorithms to solve complex business problems.</p>
      </li>
      <li>
          <h3>Statistical Modeling</h3>
          <p>Apply statistical modeling to analyze trends and patterns in data for data-driven decision-making.</p>
      </li>
      <li>
          <h3>Business Growth Strategies</h3>
          <p>Accelerate corporate growth by combining data science with strategic business planning.</p>
      </li>
      <li>
          <h3>Data-Driven Solutions</h3>
          <p>Create data-driven solutions that enhance business efficiency and effectiveness.</p>
      </li>
  </ul>
</section>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>